<div class="dashboard-container mat-typography">

    <mat-card class="summary-card">
        <div class="summary-content">
          <span class="summary-title">Total de Postagens</span>
          <span class="summary-value">{{ totalPostagens }}</span>
        </div>
    </mat-card>
      

    <mat-card class="chart-card">
        <mat-card-title>Postagens por Autor</mat-card-title>
        <mat-card-content>
          <app-users-chart
              (isloaded)="onChildloaded(usersPostsLoaded)"
              *ngIf="!usersPostsLoaded">
          </app-users-chart>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="chart-card">
        <mat-card-title>Postagens por Data</mat-card-title>
        <mat-card-content>
          <app-date-posts-chart 
              (isloaded)="onChildloaded(datePostsLoaded)"
              *ngIf="!datePostsLoaded">
          </app-date-posts-chart>
        </mat-card-content>
    </mat-card>
    
</div>
        
      