<app-default-layout 
    [title]="'Sign-up'" 
    [icon]="'arrow_back'" 
    [disabled]="false" 
    [onIconClick]="back.bind(this)">
    <form [formGroup]="signForm" (ngSubmit)="onSubmit()">

        <app-dinamic-input
            [required]="true"
            appearance="outline"
            label="Nome Completo"
            placeholder="Digite seu Nome completo"
            type="name"
            [isPassword]="false"
            [formControl]="nomeControl"
            >
        </app-dinamic-input>

        <app-dinamic-input
            [required]="true"
            appearance="outline"
            label="Usuário"
            placeholder="Digite seu Usuário"
            type="usuario"
            [isPassword]="false"
            [formControl]="usuarioControl"
            icon="person">
        </app-dinamic-input>

        <app-dinamic-input
            [required]="true"
            appearance="outline"
            label="Senha"
            placeholder="Digite sua senha"
            type="password"
            [isPassword]="true"
            [formControl]="senhaControl"
            >
        </app-dinamic-input>
        <mat-error *ngIf="!notEqual" class="match-error">
            As senhas devem bater.
        </mat-error>
        <app-dinamic-input
            [required]="true"
            appearance="outline"
            label="Senha"
            placeholder="Confirme sua senha"
            type="password"
            [isPassword]="true"
            [formControl]="confirmaSenhaControl"
            >
        </app-dinamic-input>
        <mat-error *ngIf="signError" class="req-error">
            {{messageReqError}}
        </mat-error>

      <div class="actions">
        <app-dinamic-loading-button
          [spinnerColor]="'primary'"
          [isLoading]="isLoading" 
          [disabled]="signForm.invalid && !notEqual"
          type="submit">
          Registrar
        </app-dinamic-loading-button>
    </div>
    </form>
</app-default-layout>
