app-dinamic-input {
    display: flex;
    justify-content: center;
}

.actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

button{
    width: 175px;
    max-width: 225px;
}

.button-content {
    display: flex;
    align-items: center;
    gap: 8px; // espaço entre spinner e texto
}

.match-error {
    z-index: 1;
    position: absolute;
    top: 64.5%;
    left:35%;
}

.req-error {
  position: absolute;
  display: flex; 
  align-items: center; 
  justify-content: center;
  top: 33%;
  left:0;
  right: 0; 
  bottom: 0;
}