<app-default-layout [title]="'Login'" [disabled]="true">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-dinamic-input
            [required]="true"
            appearance="outline"
            label="Usuário"
            placeholder="Digite seu Usuário"
            type="usuario"
            [formControl]="usuarioControl"
            icon="person"
            >
        </app-dinamic-input>
        
        <app-dinamic-input
            [required]="true"
            appearance="outline"
            label="Senha"
            placeholder="Digite sua senha"
            type="senha"
            [isPassword]="true"
            [formControl]="senhaControl"
            >
        </app-dinamic-input>
        
      <div *ngIf="loginError" class="match-error">
          <mat-error>Usuário ou senha inválidos</mat-error>
      </div>

      <div class="actions">
        <app-dinamic-loading-button
          [spinnerColor]="'primary'"
          [isLoading]="isLoading" 
          [disabled]="loginForm.invalid"
          type="submit" 
          (btnClick)="onSubmit()">
          Entrar
        </app-dinamic-loading-button>
        <button mat-button color="accent" type="button" (click)="goToRegister()">
          Registrar-se
        </button>
      </div>
    </form>
</app-default-layout>
        
