@import "../../../core/styles/variables.scss";

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

.mat-mdc-card {
  border-radius: 0 !important;
  box-shadow: none;
}

.error-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

::ng-deep .error-modal-card {
  z-index: 3 !important;
}

.error-modal-card {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 90%;
  padding: 40px;
  justify-content: center;
}

mat-card-header {
  color: #f44336; // vermelho padrão de erro
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.error-icon-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.error-icon {
  font-size: 64px;
  height: 64px;
  width: 64px;
  color: #f44336; // vermelho
}

.error-message {
  text-align: center;
  margin: 20px 0;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  padding: 16px;
}

.mat-mdc-button > .mat-icon,
.mat-mdc-unelevated-button > .mat-icon,
.mat-mdc-raised-button > .mat-icon,
.mat-mdc-outlined-button > .mat-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 8px;
}