form {
    display: flex;
    flex-direction: column;

    app-generic-input {
        width: 100%;
    }

    textarea {
        min-height: 400px;
    }
}

.match-error {
    position: absolute;
    top: 64%;
    left: 35%;
}