<section class="login-register-container">
    <mat-card class="login-register-card">
        <mat-card-header>
            <button mat-button color="accent" type="button" (click)="onIconClick()" [disabled]="disabled" [ngClass]="{ 'none' : disabled }">
                <mat-icon>{{icon}}</mat-icon>voltar
            </button>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-content></ng-content>
        </mat-card-content>
    </mat-card>
</section>